@import 'normalize.css';
body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 1350px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1300px !important;
    }
}
